<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS - {{ block('title') }}</title>

    <!-- styles -->
    <link rel="stylesheet" href="/assets/css/main.css">
    {{ block('styles') }}

</head>
<body>
    <!-- topbar -->
    <section class="topbar">
        <div class="container d-flex justify-content-between">
            <a href="/">Logo</a>
            <button type="button"><i class="fa fa-caret-down"></i></button>
        </div>
    </section>
    
    <section class="main-block">
        <!-- menu -->
        <nav class="menu">
            {{ block('menu') }}
        </nav>
        <!-- page -->
        <main class="page">
            {{ block('page') }}
        </main>
    </section>

    <!-- javascripts -->
    <script src="/assets/js/layout.js"></script>
    {{ block('javascripts') }}
</body>
</html>