<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS - {{ block('title') }}</title>

    <!-- styles -->
    <link rel="stylesheet" href="/assets/css/main.css">
    {{ block('styles') }}

</head>
<body>
    <!-- topbar -->
    <section class="topbar d-flex align-items-center justify-content-between">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a href="/" class="logo">Logo</a>
            <div class="dropdown dropdown-scale-wrap">
                <button type="button" class="topbar-dropdown-open dropdown-open" data-toggle="dropdown" data-display="static">
                    <div class="topbar-avatar">L</div>Luciano
                </button>
                <nav class="dropdown-menu dropdown-scale right bottom">
                    <a href=""><i class="fa fa-user"></i>Editar usuário</a>
                    <a href="">Sair</a>
                </nav>
            </div>
        </div>
    </section>
    
    <section class="main-block">
        <!-- menu -->
        <div class="menu container-fluid">
            {{ block('menu') }}
        </div>
        <!-- page -->
        <main class="page">
            {{ block('page') }}
        </main>
    </section>

    <!-- javascripts -->
    <script src="/assets/js/layout.js"></script>
    {{ block('javascripts') }}
</body>
</html>